# .env
# How to use this:
# 1. Uncomment the sections for the applications your are deploying
# 2. Set/check the default ports provided for each application
# 3. Set the IP for the worker node for each application
# 4. Set the server names for each application
# 5. rename this file from `env.template` -> `.env`
#

    #--------------------------------------------------
    # WEB: domain.com
    #--------------------------------------------------
# WEB_BACKEND_IP=<backend IP> # must be reachable from INSIDE the hecate docker container. If using tailscale, will look something like: 100.xxx.yyy.zzz)
# WEB_BACKEND_PORT=8080 # must be reachable from INSIDE the hecate docker container, eg. 8080)
# WEB_SERVER_NAMES=localhost <hostname> <FQDN> # eg. if using tailscale, this will look something like 'localhost domain-com (hostname) domain.com (FQDN)'


    #--------------------------------------------------
    # ELK STACK: elk.domain.com
    #--------------------------------------------------
# ELK_BACKEND_IP=<backend IP>
# ELK_BACKEND_PORT=<backend port>
# ELK_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # ERPNEXT: erpnext.domain.com
    #--------------------------------------------------
# ERP_BACKEND_IP=<backend IP>
# ERP_BACKEND_PORT=11080
# ERP_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # GRAFANA: grafana.domain.com
    #--------------------------------------------------
# GRAFANA_BACKEND_IP=<backend IP>
# GRAFANA_BACKEND_PORT=3000
# GRAFANA_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # JENKINS: jenkins.domain.com
    #--------------------------------------------------
# JENKINS_BACKEND_IP=<backend IP>
# JENKINS_BACKEND_PORT=2376
# JENKINS_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # KEYCLOAK: iam.domain.com
    #--------------------------------------------------
# KEYCLOAK_BACKEND_IP=<backend IP>
# KEYCLOAK_BACKEND_PORT=<backend port>
# KEYCLOAK_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # MAILCOW
    #--------------------------------------------------
# MAILCOW_BACKEND_IP=<backend IP>
# MAILCOW_BACKEND_PORT=<backend port>
# MAILCOW_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # MATTERMOST: mattermost.domain.com
    #--------------------------------------------------
# MATTERMOST_BACKEND_IP=<backend IP>
# MATTERMOST_PORT=2000
# MATTERMOST_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # NEBULA: nebula.domain.com
    #--------------------------------------------------
# NEBULA_BACKEND_IP=<backend IP>
# NEBULA_BACKEND_PORT=<backend port>
# NEBULA_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # NEXTCLOUD: nextcloud.domain.com
    #--------------------------------------------------
# NEXTCLOUD_BACKEND_IP=<backend IP>
# NEXTCLOUD_BACKEND_PORT=9080
# NEXTCLOUD_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # OPENSTACK: oc.domain.com
    #--------------------------------------------------
# OPENSTACK_BACKEND_IP=<backend IP>
# OPENSTACK_BACKEND_PORT=<backend port>
# OPENSTACK_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # RESTIC: restic.domain.com
    #--------------------------------------------------
# RESTIC_BACKEND_IP=<backend IP>
# RESTIC_BACKEND_PORT=<backend port>
# RESTIC_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # SECURITY ONION: soc.domain.com
    #--------------------------------------------------
# SOC_BACKEND_IP=<backend IP>
# SOC_BACKEND_PORT=<backend port>
# SOC_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # WAZUH
    #--------------------------------------------------
# WAZUH_BACKEND_IP=<backend IP>
# WAZUH_BACKEND_PORT=5601
# WAZUH_SERVER_NAMES=localhost <proxy-hostname> <DNS name>


    #--------------------------------------------------
    # EXAMPLE: example.domain.com
    #-------------------------------------------------- 
# EXAMPLE_BACKEND_IP=<backend IP> # must be reachable from INSIDE the hecate docker container. If using tailscale, will look something like: 100.xxx.yyy.zzz)
# EXAMPLE_BACKEND_PORT=<backend port> # must be reachable from INSIDE the hecate docker container, eg. 8080)
# EXAMPLE_SERVER_NAMES=localhost <proxy-hostname> <DNS name> # eg. if using tailscale, this will look something like 'localhost domain-com (hostname) domain.com (FQDN)'
