# .env
# Rename this file from `env.template` to `.env` before running `docker compose up -d`

# IP address of the Wazuh backend server
backendIP=

# Hostname for the NGINX server
HOSTNAME=

# Base domain for your services
BASE_DOMAIN=
